html {
        height: 100%;
}

body {
	background: url("../images/wall4.png");
	overflow-x: hidden;
	overflow-y: scroll;
    height: 100%;
    padding: 0;
}

#top-container {
	padding-left: 65px;
	background-color: rgba(100,100,100,0.4);
	padding-top: 20px;
	height: 150px;
}

#calendar-icon {
	position: absolute;
	top: 115px;
	left: 165px;
}

#naa-logo {
	width: 120px;
	float: left;
	vertical-align: top;
	margin-right: 10px;
}

#footer {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 30px;
	margin-left: 65px;
}

#footer h2 {
	color: #AAA;
	line-height: 25px;
	font-size: 20px;
}

h2, #social-share {
	display: block;
}

#social-share iframe,
#social-share div {
	display: inline-block;
}

#social-share {
	margin-top: 2px;
}

/* twitter */
#social-share iframe {
	width: 90px !important;
}

/* google's +1*/
#social-share div {
	height: auto !important;
	width: 70px !important;
}

/* facebook like */
#social-share div.fb-like {
	height: auto;
	margin-left: -70px !important;
	top: -3px;
}

#social-share div.fb-like iframe {
	padding: 0;
}

#container {
    min-height: 100%;
}

#results {
	margin-top: 20px;
	margin-left: 65px;
	text-align: left;
}

#results span {
	text-align: center;
	border: 1px solid transparent;
}

#results a, .category {
	display: inline-block;
	margin: 3px 1px;
}

#sort-container {
	display: table-cell;
	vertical-align: middle;
}

#sort-container .btn-group {
	min-width: 75px;
}

img.med-thumb, .category {
	width: 150px;
	height: 150px;
}

.category {
	background-color: black;
	font-family: 'Yanone Kaffeesatz';
	color: white;
	font-size: 25pt;
	vertical-align: top;
	line-height: 150px;
}

.no-more-results,
.zero-results,
.welcome-message {
	font-family: 'Yanone Kaffeesatz';
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
	font-size: 22px;
	color: #888;
	line-height: 25px;
}

.no-more-results a {
	font-size: 18px;
	text-decoration: none;
	font-weight: normal;
}

.zero-results {
	font-size: 30px;
	padding-top: 30px;;
}

.welcome-message {
	font-size: 30px;
	font-weight: normal;
	padding-top: 80px;
	line-height: 40px;
}

img.med-thumb {
	opacity: 0.75;
    border: 1px solid transparent;
    
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

img.med-thumb:hover {
	opacity: 1;
	border: 1px solid #000;
}

#search {
	margin: 10px;
	margin-left: 0;
	padding: 5px;
	padding-left: 28px;
	background: url("../images/assets.png") 11px 8px no-repeat #FFF;
}

#header {
	display: table;
}

#version {
	display: none;
}

h1,h2 {
	font-family: 'Yanone Kaffeesatz';
}

h1 {
	font-weight: 700;	
	font-size: 50px;
	padding-bottom: 10px;
}

h2 {
	font-weight: 400;
	font-size: 20px;
	padding-right: 10px;
	vertical-align: top;
}

#search {
	display: table-cell;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#resultStats {
	font-style: italic;
	color: #555;
	padding-top: 10px;
	position: absolute;
	top: 0;
	right: 35px;
}


/* Overrding Shadowbox styles */
#sb-title, 
#sb-title-inner {
	height: 60px;
	margin-bottom: 8px;
}

#sb-title-inner {
	font-weight: bold;
	line-height: 20px;
	vertical-align: middle;
	display: table-cell;
}

#sb-wrapper {
	background: #000;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 15px;
}

#sb-wrapper-inner {
	border: 1px solid #FFF;
}

#sb-body-inner img {
	min-width: 300px;
}

#sb-info-inner {
	display: table;
	table-layout: fixed;
	width: 100%;
}

#sb-info {
	height: 30px;
}

#sb-counter, 
#sb-nav, 
iframe {
	display: table-cell;
	width: auto;
	float: none
}

#sb-counter {
	text-align: center;
	vertical-align: bottom;
}

iframe {
	padding-top: 10px;
}

#date-range {
	position: absolute;
	top: 120px;
	left: 245px;
}

/* Slider stuff */
.ui-slider {
	width: 505px;
	height: 5px;
	border-radius: 3px;
	margin: 5px;

	background-color: white;
	border: 1px solid #BAE2F0;
	box-shadow: inset 0px 0px 5px #888;
}

.ui-slider-range {
	background-color: #BAE2F0;
	box-shadow: inset 0px 0px 5px #777;
	height: 5px;
	position: absolute;
}

.ui-slider-handle {
	width: 34px;
	height: 16px;
	background-color: white;
	border-radius: 3px;
	border: 1px solid black;
	position: absolute;
	cursor: pointer;
	text-align: center;
	color: white;
	margin-left: -20px;
	margin-top: -7px;
	z-index: 1;
	padding: 2px;
}

a.ui-slider-handle {
	text-decoration: none;
}

/* Australia */
#australia {
    position: absolute;
	top: 30px;
	right: 120px;
	z-index: 1;
}
#australia #paper {
    height: 50px;
    left: 0;
    top: 0;
    width: 50px;
}
#nsw, #vic, #wa, #sa, #nt, #qld, #tas {
    display: none;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}
#australia h2 {
    display: none;
}

/* Some quick CSS hacks for smaller screen sizes */
@media screen and (max-width: 980px) {
  #australia,
  #resultStats {
    display: none;
  }
}

@media screen and (max-width: 900px) {
	h1 {
		font-size: 40px;
	}
}

@media screen and (max-width: 850px) {
	h1 {
		font-size: 35px;
	}
}


/* If for whatever reason even smaller... */
@media screen and (max-width: 720px) {
	h1 {
		font-size: 30px;
		padding-bottom: 5px;
	}

	#naa-logo {
		width: 80px;
	}

	#calendar-icon,
	#date-range {
		display: none;
	}

	#top-container {
		height: 110px;
	}
}

/* Pretty much mobile size */
@media screen and (max-width: 500px) {
	h1 {
		font-size: 25px;
	}

	#top-container {
		height: 150px;
	}

	#top-container {
		padding-left: 15px;
	}
	#results,
	#footer {
		margin-left: 15px;
	}
}