#australia,
#resultStats,
#date-range,
#calendar-icon {
	display: none;
}

body {
	padding: 0;
}

h1 {
	font-size: 25px;
}

#naa-logo, 
img.med-thumb {
	width: 90px;
	height: 90px;
}

#search {
	background: #FFF;
	padding: 5px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

	#top-container {
		padding-left: 15px;
	}
	#results,
	#footer {
		margin-left: 15px;
	}